.carousel-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out;
  transform: translateX(100%); 
  will-change: transform; 
}

.carousel-image-container.active {
  transform: translateX(0); 
  z-index: 2;
}


.carousel-image-container.next {
  transform: translateX(100%); 
  z-index: 1; 
}

.carousel-image, .url-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.url-overlay {
  z-index: 3; 
}